<!DOCTYPE HTML>
<html lang="de">
<head>
    <title>Schabuu: Video</title>
    <meta charset="utf-8">
    <meta name="description" lang="de" content="">
    <meta name="keywords" lang="de" content="">
    <meta name="author" content="Team Schabuu">

    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="apple-touch-icon" href="./img/ic_launcher.png">

    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow,noarchive">

    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.12/video.js"></script>

    <style type="text/css">
        html, body {
            font-size: 90%;
            margin: 0;
            width: 100%;
            height: 100%;
        }
        #refreshTimeout {
            display: none;
        }
        .fallback {
            display: block;
            width: 100%;
            padding: 40px;
            box-sizing: border-box;
        }
        .video-js {
            width: 100% !important;
        }
    </style>

</head>
<body>
{{#if videoUrl}}
<video id="really-cool-video" autoplay class="video-js vjs-default-skin" controls
       preload="auto" width="450" height="800">
    <source src="rtmp://ws2.nanocosmos.net/live/{{videoUrl}}" type="rtmp/mp4">
</video>
<p>rtmp://ws2.nanocosmos.net/live/{{videoUrl}}</p>
    <script>
        var player = videojs('really-cool-video', {}, function() {
            this.play();
            this.on('error', function() {
                location.reload();
            });
        });
    </script>
{{else}}
<img class="fallback" src="{{fallback}}" alt="no game found" />
{{/if}}
<div id="refreshTimeout">{{refresh}}</div>
<script>
    window.setTimeout(function() {
        location.reload();
    }, parseInt(document.getElementById("refreshTimeout").innerHTML, 10));
</script>
</body>
</html>

